{% extends "Gbase.html" %}
{% block title %}Edugrow - FAQs{% endblock %}

{% block content %}
<h1 class="display-4" id="header">Frequently Asked Questions</h1>

<div class="wrapper">
  {% for faq in faqs_list %}
  <div class="container">
    <div class="question">
      {{ faq.get_faq_id() }} {{ faq.get_question() }}
    </div>
    <div class="answercont">
      <div class="answer">
        {{ faq.get_answer() }}
      </div>
    </div>
  </div>
  {% endfor %}
</div><br><br>

<style>

#header {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: #947261;
  font-size: 30px;
  padding: 20px 10px 30px 10px;
  text-align:center;
}

  @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

* {
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 60%;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

.container {
  background-color: #efefef;
  color: #947261;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
  margin: 20px 0;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}

.question.active + .answercont {
}

@media screen and (max-width: 790px){
  html {
    font-size: 14px;
  }
  .wrapper {
  width: 80%;
}
}
</style>

<script>
let question = document.querySelectorAll(".question");

question.forEach(question => {
  question.addEventListener("click", event => {
    const active = document.querySelector(".question.active");
    if(active && active !== question ) {
      active.classList.toggle("active");
      active.nextElementSibling.style.maxHeight = 0;
    }
    question.classList.toggle("active");
    const answer = question.nextElementSibling;
    if(question.classList.contains("active")){
      answer.style.maxHeight = answer.scrollHeight + "px";
    } else {
      answer.style.maxHeight = 0;
    }
  })
})

</script>
{% endblock %}
