<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Shopping Cart</h1>
    <form action="/add_to_cart" method="post">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <button type="submit" class="btn btn-sm btn-warning">Add cart</button>
        <label for="">Quantity:</label>
        <input type="number" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
        {% set colors = product.colors.split(',') %}
        <label for="colors">Colors:</label>
        <select name="colors" id="">
            {% for color in colors %}
            {% set col = color.split(':') %}
            <option value="{{col[0]}}">{{col[0]capitalize}}</option>
            {% endfor %}
        </select>
    </form>

</body>
</html>
