{% extends "Gbase.html" %}
{% block title %}Home{% endblock %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<h1 class="display-4" id="header">EDUGROW LEARNING CENTRE</h1>
<h2 class="display-4" id="header2">What We Offer</h2>
    <div id="chatbot"><a href="/GChatbot"><img src="../static/images/chatbotlogo.png" width="50" height="50"></a></div>

<div class="center">
    <a href="/"><img src="../static/images/english1.png" width="230" height="300" class="pic"></a>
    <a href="/"><img src="../static/images/math1.png" width="230" height="300" class="pic"></a>
    <img src="../static/images/science1.png" width="230" height="300" class="pic">
    <img src="../static/images/chi1.png" width="230" height="300" class="pic">
</div>
<div id="test">
<p>Our tuition centre aims to nurture our students as we firmly believe that each </p>
<p>and every student definitely has the potential to grow.</p>
</div>
<h2 class="display-4" id="header2">Testimonials by Our Students & Parents</h2>
<div class="container">
<div class="image-left">
	<img src="../static/images/test1.jpg" width="150" height="125" id="img1">
	<div>
		<p class="text">Kelvin Tan [Student who graduated from English class]</p>
        <p class="text">I used to always score a C for my English however after signing up for the tuition class, I could see a significant improvement, and I eventually scored an A for PSLE!</p>
	</div>
</div>
</div>
<div class="testimonial">
<div class="container1">
<div class="image-left">
	<img src="../static/images/test3.jpg" width="200" height="125" id="img1">
	<div>
		<p class="text">Eric Chen [Student who graduated from Math class]</p>
        <p class="text">I have always been scoring a D for my Mathematics however I could see the slight improvements and I scored B for PSLE!!</p>
	</div>
</div>
</div>
</div><br><br><br><center>
	<a href="/FAQdisplay"><button type="button" id="questions">SIGN UP NOW!</button></a><br><br></center>
<a href="/FAQdisplay" id="text2">FAQs</a>

<style>
footer {
  width: 100%
}

#header {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  color: #996247;
  font-size: 40px;
  text-align: center;
  padding: 110px 10px 30px 10px;
}
#questions {
    background: #947667;
    border-radius: 30px;
    border-color: #efefef;
    color: white;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    text-align: center;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

#text2 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #4A6F8F;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}


#header2 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #996247;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

.container {
  background: #F2F2F2;
  width: 500px;
  padding: 15px;
  border-radius: 20px;
  float: left;
  margin-left: 230px;
  margin-bottom: 50px;
}
.container1 {
  background: #F2F2F2;
  width: 500px;
  padding: 15px;
  border-radius: 20px;
  float: right;
  margin-right: 230px;
  margin-bottom: 50px;
}

#test {
  font-family: Verdana, sans-serif;
  color: #996247;
  font-size: 20px;
  text-align: center;
  padding: 30px 0px 40px 0px;
}

.pic {
  padding: 20px;
}

#img1 {
  max-width: 100%;
  max-height:100%;
  float: left;
}

.text {
  font-family: Verdana, sans-serif;
  color: #996247;
  font-size: 15px;
}

.image-left, .image-right
{
	margin: 1em 0;
}

@media (min-width: 20em)
{
	.image-left
	{
		display: flex;
		align-items: center;
	}

	.image-left img
	{
		margin-right: 1em;
		float: left; /* fallback */
	}


	.image-left::after,
	{
		content: "";
  	display: block;
		clear: both;
	}
}

@media (min-width: 30em)
{
	.image-left img
	{
		flex-shrink: 0;
	}
}

</style>

{% endblock %}
