{% extends "base.html" %}
{% block title %}Edugrow - Quiz{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Quiz</h1>
<div>
<form action="/submitScore" method="POST">
{% for question in qn_list %}

<h1>Question 1:  {{ question.get_q1() }}</h1>
        <div class="form-group">
    {{ render_field(form.a1, class="form-control") }}
</div>


<h1>Question 2:  {{ question.get_q2() }}</h1>
        <div class="form-group">
    {{ render_field(form.a2, class="form-control") }}
</div>


<h1>Question 3: {{ question.get_q3() }}</h1>
        <div class="form-group">
    {{ render_field(form.a3, class="form-control") }}
</div>


    <h1>Question 4: {{ question.get_q4() }}</h1>
        <div class="form-group">
    {{ render_field(form.a4, class="form-control") }}
</div>


    <h1>Question 5: {{ question.get_q5() }}</h1>
        <div class="form-group">
    {{ render_field(form.a5, class="form-control") }}
</div>





{% endfor %}






<input type="submit" value="Submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to submit?);">
</form>



</div>
{% endblock %}