{% extends "Sbase.html" %}
{% block title %}Edugrow - Take Quiz{% endblock %}

{% block head %}
{{ super() }}
<!-- CSS -->
<style type="text/css">
body{
    font-family: Verdana, sans-serif;
    color: #947667;
    padding-top:10px;
    align-items:center;
    justify-content:center;
    height:auto;
    margin:0px;
    padding:0px;


}
    .container {
    background: #F6F4F4;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
th {
  font-family: Verdana, sans-serif;
  color: #947667;
  font-size: 15px;
  text-align: left;
  padding: 30px 0px 40px 0px;
}

tr {
  font-family: Verdana, sans-serif;
  color: #947667;
  font-size: 15px;
  border-radius: 15px;
}

table {
  border-collapse: collapse;
}

.btn {
  border: 1px solid #D9D9D8;
  background: #D9D9D8;
  color: #947667;
  padding: 14px 28px;
  font-size: 15px;
  border-radius: 15px;
}

</style>
{% endblock %}


{% block content %}
<h1 class="display-4">Edit Quizzes</h1>
<div>
{% if count == 0 %}
<p>There are no quizzes.</p>
{% elif count == 1 %}
<p>There is 1 quiz.</p>
{% else %}
<p>There are {{ count }} quizzes.</p>
{% endif %}
</div>

<div class="container ">
<table class="table ">
<thead>
<tr>
    <th></th>
<th>Subject</th>
<th>Description</th>

<th></th>
    <th></th>
</tr>
</thead>
<tbody>
{% for quiz in quiz_list %}
<tr>
  <td>{{ quiz.get_quiz_id() }}</td>
<td>{{ quiz.get_title() }}</td>
<td>{{ quiz.get_description() }}</td>

    <td><a href="/takeQuiz/{{quiz.get_quiz_id()}}" class="btn btn-primary">Take Quiz</a></td>

</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
