{% extends "Sbase.html" %}
{% block title %}Edugrow - Quiz{% endblock %}

{% block head %}
{{ super() }}
<!-- CSS -->
<style type="text/css">
body{
    font-family: Verdana, sans-serif;
    color: #947667;
    padding-top:10px;
    align-items:center;
    justify-content:center;
    height:auto;
    margin:0px;
    padding:0px;


}
    .container {
    background: #F6F4F4;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
th {
  font-family: Verdana, sans-serif;
  color: #947667;
  font-size: 15px;
  text-align: left;
  padding: 30px 0px 40px 0px;
}

tr {
  font-family: Verdana, sans-serif;
  color: #947667;
  font-size: 15px;
  border-radius: 15px;
}

table {
  border-collapse: collapse;
}

.btn {
  border: 1px solid #D9D9D8;
  background: #D9D9D8;
  color: #947667;
  padding: 14px 28px;
  font-size: 15px;
  border-radius: 15px;
}

</style>
{% endblock %}


{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Quiz</h1>
<div>
<form action="/submitQuiz" method="POST">
{% for question in qn_list %}

<h1>Question 1:  {{ question.get_q1() }}</h1>
        <div class="form-group">
    {{ render_field(form.a1, class="form-control") }}
</div>


<h1>Question 2:  {{ question.get_q2() }}</h1>
        <div class="form-group">
    {{ render_field(form.a2, class="form-control") }}
</div>


<h1>Question 3: {{ question.get_q3() }}</h1>
        <div class="form-group">
    {{ render_field(form.a3, class="form-control") }}
</div>


    <h1>Question 4: {{ question.get_q4() }}</h1>
        <div class="form-group">
    {{ render_field(form.a4, class="form-control") }}
</div>


    <h1>Question 5: {{ question.get_q5() }}</h1>
        <div class="form-group">
    {{ render_field(form.a5, class="form-control") }}
</div>





{% endfor %}






<input type="submit" value="Submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to submit?);">
</form>



</div>
{% endblock %}
