{% extends "Tbase.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 class="display-4" id="header">Hello, would you like to check on your classes' progress?</h1>

<div class="center">
    <a href="/"><img src="../static/images/english1.png" width="230" height="300" class="pic"></a>
    <a href="/"><img src="../static/images/math1.png" width="230" height="300" class="pic"></a>
    <img src="../static/images/science1.png" width="230" height="300" class="pic">
    <img src="../static/images/chi1.png" width="230" height="300" class="pic">
</div>

<style>
#header {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: #947261;
  font-size: 30px;
  padding: 110px 10px 30px 10px;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

.pic {
  padding: 20px;
}

</style>

{% endblock %}
